@use "./../abstracts/variables" as *;

/* Diseño del header */
header {
  padding-top: $space-10;
  padding-bottom: $space-15;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: $space-15;
    text-transform: capitalize;
    a {
      color: $color-three;
      font-size: $text-size-bt;
    }
  }

  nav ul a:hover {
    color: $color-one;
  }

  aside ul {
    align-items: center;

    li:nth-of-type(2) a {
      text-decoration: underline;
      color: $color-one;
      &:hover {
        color: $color-five;
      }
    }

    li:nth-of-type(3) a {
      background-color: $color-one;
      color: $color-two;
      padding: $space-7 $space-11;
      &:hover {
        background-color: $color-five;
      }
    }
  }
}
